<ul><li><a href="#" class="home-link">HOME</a></li><li><a href="#users" class="all-users-link">ALL USERS</a></li><li><a href="#upload" class="upload-link">UPLOAD</a></li><li><a href="#you" class="you-link">YOU</a></li></ul>
