<ul><li><a href="#" class="home-link"><nsta-icon class="icon ion-home" /></a></li><li><a href="#users" class="all-users-link"><nsta-icon class="icon ion-ios-people" /></a></li><li><a href="#upload" class="upload-link"><nsta-icon class="icon ion-camera" /></a></li><li><a href="#me" class="you-link"><nsta-icon class="icon ion-android-person" /></a></li></ul>
