<% if (user.has("is_following")) { %>
  <% if (user.get("is_following")) { %>
    <button class="unfollow-button is-following-<%= user.get("is_following") %>">Unfollow</button>
  <% } else { %>
    <button class="follow-button is-following-<%= !user.get("is_following") %>">+ Follow</button>
  <% } %>
<% } %>
