<a href="#users/<%= user.escape("username") %>">
  <nstagram-avatar class="clearfix" style="background-image: url(<%= user.escape("profile_picture_url") %>)">
    <% if (user.escape("profile_picture") === "/assets/missing.png") { %>
    <!-- <sub>NO PHOTO</sub> -->
    <% } %>
  </nstagram-avatar>
  <h4><%= user.escape("username") %></h4>
</a>
<nstagram-follow-button>
</nstagram-follow-button>
