<label for="user_username">Username</label><br>
<input type="text" name="user[username]" id="user_username">

<label for="user_email">Email</label><br>
<input type="email" name="user[email]" id="user_email">

<label for="user_password">Password</label><br>
<input type="password" name="user[password]" id="user_password">

<label for="user_password_confirmation">Password confirmation</label><br>
<input type="password" name="user[password_confirmation]" id="user_password_confirmation">

<label for="user_full_name">Full name</label><br>
<input type="text" name="user[full_name]" id="user_full_name">

<label for="user_bio">Bio</label><br>
<input type="text" name="user[bio]" id="user_bio">

<label for="user_website_url">Website url</label><br>
<input type="text" name="user[website_url]" id="user_website_url">

<label for="user_profile_photo_url">Profile photo url</label><br>
<input type="text" name="user[profile_photo_url]" id="user_profile_photo_url">

<button>Sign Up</button>
