<label for="photo-input">New Photo</label>
<br>
<canvas id="photo-upload" width="2400" height="2400" class="empty">
</canvas>
<input type="file" name="photo[photo]" id="photo-input"  placeholder="photo" required accept="image/*">
<!-- <div class="upload-placeholder">

</div> -->
<br>
<button disabled>Save</button>
