/*RESET*/

html, body, div, header, nstagram-content, nstagram-logo, tag-line, section, p, em, ul, li, input, button, a:link, a:visited, a:hover, a:active, nav, h4, nstagram-avatar, nstagram-header, nstagram-flash, nstagram-menu, fieldset {
  margin: 0;
  border: 0;
  padding: 0;

  background: transparent;

  font-family: sans-serif;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  white-space: inherit;
}

ul {
  list-style: none;
}

input, textarea, keygen, select, button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
}
button {
  cursor: pointer;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/*GLOBAL*/

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  display: block;

}


nstagram-content, tag-line, vert-box, users-index, nstagram-avatar, nstagram-follow-button {
  display: block;
}

nstagram-content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

vert-box, top-box {
  position: relative;
}

.large, .medium {
  font-weight: bold;
}

nstagram-logo.large {
  font-size: $font-s-3;
  line-height: 2 * $menu-height;
  display: block;

}

nstagram-logo.medium {
  font-size: $font-s-menu-big;
  display: inline;

}

tag-line.large {
  font-size: $menu-height * 4 / 5;
}

button.is-following-true, .edit-profile-link {
  font-size: $font-s-0;
  font-weight: bold;
  letter-spacing: $space-null;
  border-radius: 3px;
  padding: $space-base $space-4;
  text-transform: uppercase;
}
.unfollow-button {
  border: $space-null solid $ng-follow;
  color: $ng-follow;
}
.follow-button {
  background: $ng-follow;
  color: $ng-white;
}
button.is-following-false {
  display: none;
}
nstagram-avatar {
  position: relative;
  width: $avatar-size;
  height: $avatar-size;
  overflow: hidden;
  text-align: center;
  border-radius: 100%;
  background-color: $ng-slight;
  background-size: cover;
  background-position: center;

  sub {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
}
.profile-picture {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
photos-index {
  nstagram-avatar {
    width: $menu-height * 2;
    height: $menu-height * 2;
  }
}


body > div {
  display: none;
}
/*WELCOME*/

#welcome {
  height: 100%;

  .welcome {
    text-align: center;
    min-height: $avatar-size;
  }

  section.welcome {
    width: 100%;
    border-top: $space-0 solid $ng-white;
  }

  header.welcome {
    background: $ng-blue linear-gradient($ng-blue, transparentize($ng-blue, 0.5), rgba(0,0,0,0.8));

    color: $ng-white;
    height: 53.125%; /*17/16*/
    position: relative;
    text-shadow: 0 $space-null 0 transparentize($ng-dark
, 0.25);
  }
  header.welcome::before {
    background: linear-gradient(transparent, rgba(0,0,0,0.4), rgba(0,0,0,0.8));
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    position: absolute;
  }

  header.welcome vert-box {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 25%;
  }

  form.hidden-form {
    display: none;
  }

  form {
    * {
      -webkit-transition: color 0.2s 0.5s, background-color 0.2s 0.5s, all 0.5s;
      transition: color 0.2s 0.5s, background-color 0.2s 0.5s, all 0.5s;
      margin: 0 auto;
      line-height: 1em;
    }
    fieldset {
      display: none;
    }
    input:focus, :invalid {
      min-width: 50%;
    }
    input, button:enabled {
      height: $menu-height * 2;
      font-size: $font-s-menu-big * 2;
    }
    :valid:focus {
      outline: none;
      box-shadow: 0 $menu-height 0 $ng-create-action inset;
      background-color: $ng-create-action;
    }
    input:valid:not(:focus:not(:last-of-type)) {
      outline: none;
      box-shadow: 0 $menu-height 0 $ng-blue inset;
      background-color: $ng-blue;
      font-weight: bold;
    }
    input:valid {
      color: $ng-white;
    }
    button:enabled {
      margin-top: $space-base;
      background-color: $ng-create-action;
    }
    :disabled {
      height: 0;
      padding: 0;
    }
    input:disabled {
      color: $ng-white;
      opacity: 0.1;
    }

    margin-bottom: 1em;
  }
  nav {
    font-size: $font-s-menu;
    position: absolute;
    width: $site-width;
    max-width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto $space-base;
    display: block;
    text-align: center;
    white-space: nowrap;

    a {
      text-transform: uppercase;
      border-radius: $space-base;
      line-height: $space-6;
      font-weight: bold;
      display: block;
      float: left;
      width: 50%
    }

    a.signup-link {
    }
    a:first-child:not(.hidden-form)::after {
      content: "";
      width: 0;
      display: block;
      border: $space-3 solid transparent;
      border-bottom-color: $ng-white;
      margin: 0 auto -$space-base;
      position: absolute;
      left: 25%;
      bottom: 0;
      -webkit-transform: translate(-50%, 25%);
      transform: translate(-50%, 25%);
    }
    a:last-child:not(.hidden-form)::after {
      content: "";
      width: 0;
      display: block;
      border: $space-3 solid transparent;
      border-bottom-color: $ng-white;
      margin: 0 auto -$space-base;
      position: absolute;
      right: 25%;
      bottom: 0;
      -webkit-transform: translate(50%, 25%);
      transform: translate(50%, 25%);
    }
  }
  :disabled {
    background: $ng-middle;
    text-shadow: 0 $space-null 0 transparentize($ng-dark
, 0.2);
  }
}

form *, a.twitter-button:link, a.twitter-button:visited, a.twitter-button:hover, a.twitter-button:active {
  font-size: $font-s-menu;
  padding: $space-base;
  outline: 0;
  width: 100%;
  // border-radius: $space-2;
  border-color: $ng-slight;
  border-style: solid;
  display: block;
  float: none;
  min-height: $menu-height;
  line-height: $menu-height;
  box-sizing: border-box;
}

form {
  margin-bottom: $space-base;

  label {
    display: none;
  }


  button {
    background: $ng-blue;
    color: $ng-white;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
  }

  br {
    padding: 0;
    display: none;
  }

  :valid:required {
    background: $ng-white;
    color: #000;
    outline: $space-null solid $ng-flash-blue;
  }

  #photo-input {
    display: none;
  }

  #photo-upload {
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    position: relative;
    top: $menu-height;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #photo-upload.empty {
    outline: $space-null solid $ng-darker;
  }
}

a.twitter-button:link, a.twitter-button:visited, a.twitter-button:hover, a.twitter-button:active {
  // font-size: $menu-height / 5 * 4;
  font-weight: bold;
  background: hsl(190, 90%, 60%);
  color: $ng-white;
  position: relative;
  text-transform: uppercase;
}
#photo-upload.empty:hover {
  box-shadow: 0 0 $space-base $ng-dark inset, 0 $space-2 $space-2 $ng-darker inset;
}
#photo-form {
  background: $ng-darker;
  position: absolute;
  top: -$menu-height;
  margin-bottom: $menu-height;
  bottom: 0;
  width: 100%;

  button {
    bottom: 0;
    padding-bottom: $menu-height + 2;
    position: absolute;
    box-sizing: border-box;
  }

  button.fresh:disabled {
    height: $space-base;
    min-height: $space-base;
    border-radius: 0;
    padding: 0 0 $menu-height + 2;
    background: $ng-highlight;
  }

  .form-caption {
    margin-top: $space-6;
    color: $ng-white;
  }

  .form-caption:disabled {
    height: 0;
    box-sizing: border-box;
    padding: 0;
    min-height: 0;
  }

  button:enabled {
    background: $ng-create-action;
    cursor: pointer;
  }

  .filter-select {
    position: absolute;
    bottom: $menu-height * 2;
    min-width: 10%;
    max-width: 50%;
    border: 1px solid rgba(255,255,255,0.7);
    right: $menu-height;
    background: $ng-darker;
    font-weight: bold;
    color: $ng-white;
    box-shadow: 0 $space-0 $space-4 $ng-darker;
    padding: $space-0 0 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-transform: uppercase;

    h6 {
      margin: $space-null 0 $space-2;
      border: 0;
      padding: $space-base $space-3;
      font-size: $font-s-base;
      cursor: all-scroll;
    }
    h6::after {
      content: " x";
      font-size: 1em;
    }

    li.filter-item {
      padding: 0;
      cursor: pointer;
      font-size: $font-s-menu;

      a, a:link, a:hover, a:visited, a:active {
        border: 0;
        outline: 0;
        padding: $space-base $space-3;
      }

      a:hover {
        background: $ng-highlight;
      }

    }
    .filter-item.selected {
      a {
        background: $ng-blue;
      }
    }
  }

  .filter-select.empty {
    opacity: 0;
    height: 0;
  }

  .filter-select.closed {
    right: 0;
    bottom: $menu-height * 1.5;
    max-width: 10%;
    h6 {
      cursor: pointer;
    }
    h6::before {
      content: "+ ";
      font-size: 200%;
    }
    h6::after {
      content: "";
      font-size: 0;
    }
    .filter-item.selected a {
      font-size: 0;
      padding: $space-null;
    }
    li.filter-item:not(.selected) {
      visibility: collapse;
      height: 0;
      min-height: 0;
    }
  }
}

.new-comment-form {
  text-align: left;

  button.new-comment-button {
    display: none;
  }
}

/*USERS INDEX*/

button.logout {
  position: absolute;
  right: 0;
  top: 0;
  font-size: $font-s-menu;
  background: transparent;
  border: 0;
  color: $ng-white;
  padding: $space-2;
  cursor: pointer;
}

button.logout:hover {
  text-shadow: 0 0 $space-2 $ng-white;
}
users-index {
  li {
    border-bottom: $space-null solid $ng-light;
    height: 2 * $menu-height;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    position: relative;

    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active {
      display: block;
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      nstagram-avatar {
        width: $menu-height * 1.8;
        height: $menu-height * 1.8;
        margin: $menu-height * 0.1;
        display: inline-block;
      }
    }
    h4 {
      font-size: $font-s-base;
      line-height: $font-s-base;
      padding: (($menu-height * 2) - $font-s-base) / 2;
      padding-left: $space-2;
      display: inline-block;
      position: absolute;
    }
  }
  li:hover {
    background-color: hsla(206, 15%, 80%, 0.5);
  }
  nstagram-follow-button {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-$space-base);
    transform: translateY(-50%) translateX(-$space-base);
  }
}
nstagram-profile {
  width: $site-width;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;

  header.profile-header {
    display: block;
    padding: $space-8 0 $space-8 $space-8;
    position: relative;

    a:link,
    a:visited,
    a:active {
      color: $ng-middle;
    }

    .profile-header-top {
      position: relative;
      margin-bottom: $space-6;

      strong {
        display: block;
        font-size: $font-s-3;
        color: $ng-darker;
        line-height: $font-s-base;
      }

      ul {
        box-sizing: border-box;
        max-width: ($site-width - $avatar-size - $space-8);
        position: absolute;
        top: 0;
        left: $avatar-size;
        right: 0px;
        padding-top: $space-4;
        white-space: nowrap;
        clear: none;
        div {
          width: 100%;
        }

        li {
          font-size: $font-s-0;
          float: left;
          width: ($site-width - $avatar-size - $space-16) / 3;
          max-width: (100% / 3);
          a {
            display: block;
          }
          a:hover,
          a:focus {
            color: $ng-blue;
            * {
              color: $ng-blue;
            }
          }
        }
      }

      p, nstagram-follow-button {
        font-weight: lighter;
        margin: $space-2 0 0 $space-base;
        padding: 0 $space-4;
        .edit-profile-link, .follow-button, .unfollow-button {
          display: block;
          margin: 0 auto;
          padding: $space-base $space-4;
          font-size: inherit;
        }
        .edit-profile-link {
          color: $ng-darker;
          background: $ng-light;
          border-width: 0;
          box-sizing: border-box;
        }
        .unfollow-button {
          border: $space-null solid $ng-follow;
          color: $ng-follow;
          background: transparent;
        }
        div, .follow-button, .unfollow-button {
          width: 100%;
        }
      }
    }
    .full-name, .website, .bio {
      font-size: $font-s-base;
      font-weight: normal;
      text-align: left;
    }
    .bio {
      color: $ng-dark;
    }
  }

  nstagram-avatar {
    clear: left;
  }

}
.profile-nav {
  width: 100%;
  border-color: $ng-middle;
  border-style: solid;
  border-width: 1px;
  font-size: $font-s-2;
  line-height: $font-s-2;

  * {
    -webkit-transition: box-shadow 0.5s, color 0.1 0.2s, background 0.1 0.2s;
    transition: box-shadow 0.5s, color 0.1 0.2s, background 0.1 0.2s;
  }

  li {
    float: left;
    width: 50%;
    text-transform: uppercase;
    color: $ng-middle;
    box-shadow: 0 0 0 $ng-middle inset;
  }

  a {
    width: 100%;
    display: block;
    padding: $space-base 0 $space-2;
  }


  .selected {
    font-weight: bold;
    color: $ng-white;
    background: $ng-middle;
  }

  li.selected:first-child {
    box-shadow: -($site-width / 2) 0 0 $ng-middle inset;
  }

  li.selected:last-child {
    box-shadow: ($site-width / 2) 0 0 $ng-middle inset;
  }
}
nstagram-thumbs-index {
  p.likes, p.caption, p.comment, ul.photo-actions, nsta-photo-post-head, form {
    display: none;
  }
}
photos-index {
  background: $ng-white;

  ul.photos {
    width: $site-width;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

    > li {
      box-shadow: 0 $space-2 $space-2 transparentize($ng-dark, 0.95);
      margin-bottom: 2 * $menu-height;
      background: $ng-white;
      position: relative;

      nsta-photo-post-head {
        > a:link, > a:visited, > a:hover, > a:active {
          display: block;
          padding: $space-2;
          text-align: left;
        }
      }

      p.post-date {
        text-align: right;
        padding: $space-2 $space-6;
        position: absolute;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        line-height: $menu-height * 2;
        color: $ng-middle;
        font-size: $font-s-0;
      }
      p.likes, p.caption, p.comment {
        text-align: left;
        font-size: $font-s-base;
        a {
          font-weight: bold;
          color: $ng-blue;
        }
      }

      nstagram-avatar {
        display: inline-block;
        vertical-align: middle;
        margin-right: $space-2;
      }

      h4 {
        font-size: $font-s-base;
        position: relative;
        display: inline;
        font-weight: bold;
        color: $ng-blue;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .photo-actions {
      li {
        float: left;
        padding: $space-base $space-2;
        border: 1px solid $ng-middle;
        border-radius: $space-base;
        margin-right: $space-4;
      }
    }
  }
}
nstagram-thumbs-index {
  background: hsl(0,0,98%);

  ul {
    width: $site-width;
    max-width: 100%;
    margin: 0 auto 50%;
    min-height: 100%;
    padding: 0 $space-null;
    box-sizing: border-box;
  }

  ul.photos li {
    background: $ng-white;
    float: left;
    padding: $space-0 ($space-0 / 4) 0;
    margin: 0;
    width: $site-width / 3;
    position: relative;
    max-width: 33.333%;
    box-sizing: border-box;
    box-shadow: none;
  }

  li:nth-child(3n) {
    right: -$space-0 / 2;
  }

  li:nth-child(3n-2) {
    left: -$space-0 / 2;
  }

  img {
    display: block;
  }
}

nstagram-thumbs-index *, nstagram-full-size-index * {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nstagram-thumbs-index * {
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

nstagram-full-size-index * {
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

nstagram-thumbs-index.hidden, nstagram-full-size-index.hidden {
  display: none;
}

nstagram-thumbs-index.hiding * {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

nstagram-full-size-index.hiding * {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

nsta-photo-post-head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: block;
  z-index: 15;
  background: rgba(255, 255, 255, 0.9);
}

nstagram-content {
  padding-bottom: 2 * $menu-height;
  box-sizing: border-box;

}
::-webkit-scrollbar {
  display: none;
}
nstagram-menu {
  display: block;
  clear: both;
  position: fixed;
  width: 100%;
  height: $menu-height;
  min-height: $menu-min-height;
  bottom: -$space-null;
  background: $ng-dark;
  z-index: 100;
  font-size: $font-s-menu;
  letter-spacing: 1.5px;

  * {
    -webkit-transition: all 0.2s linear, background 0 0.3s;
    transition: all 0.2s linear, background 0 0.3s;
  }

  ul {
    text-align: center;
    width: $site-width;
    max-width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    position: relative;
  }

  li:first-child {
    border-left: $space-null solid rgba(0,0,0,0.2);
  }

  li {
    border-right: $space-null solid rgba(0,0,0,0.2);
    display: inline-block;
    color: $ng-white;
    box-sizing: border-box;
    line-height: $menu-height;
    min-height: $menu-min-height;
    width: 100% / $num-menu-items;

    a {
      display: block;
      height: $menu-height;
      min-height: $menu-min-height;
      padding: 0 $space-2 !important;
      width: 100%;
      box-sizing: border-box;
    }

    a.upload-link {
      background: $ng-blue;
    }
  }

  .selected {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4));
    box-shadow: 0 $space-base 0 $ng-highlight inset;
  }

  .upload-link.selected {
    box-shadow: none;
  }
}
nstagram-flash {
  display: block;
  height: auto;
  width: 0;
}
nstagram-header {
  display: block;
  width: 100%;
  height: $menu-height;
  min-height: $menu-min-height;
  background: $ng-blue;
  color: $ng-white;
  text-align: center;
  padding: ($menu-height / 5) 0;
  box-sizing: border-box;
  top: 0;
  position: relative;
  z-index: 100;
}

nstagram-header.hide-bar,
nstagram-menu.hide-bar {
  height: 0;
  padding: 0;
  overflow: hidden;
}

nstagram-menu.hide-bar {
  bottom: -($menu-height + 10);
}

nstagram-header.hide-bar {
  top: -($menu-height + 10);
}
nstagram-content.hide-bar {
  margin-top: -($menu-height + 10);
  padding-bottom: ($menu-height + 10);
}

nstagram-content {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.photo-like {
  position: absolute;
  z-index: 10;
  bottom: 50%;
  font-size: $avatar-size;
  width: 100%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
.photo-like.opening {
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
nsta-photo {
  display: block;
  position: relative;
}

nstagram-flash {
  display: block;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 100;
  white-space: normal;

  ul  {
    position: absolute;
    width: 100%;
    background: rgba(48, 48, 48, 0.9);
    box-shadow: 0 $space-2 $space-4 rgba(0,0,0,0.75) inset;
  }
  li {
    text-align: center;
    width: 100%;
    background: rgba(48, 48, 48, 0.9);
    color: $ng-white;
    padding: $space-4;
    box-sizing: border-box;
    font-size: $font-s-base;
    border-bottom: $space-null solid rgba(0,0,0,0.5);
    letter-spacing: 2px;
    text-transform: lowercase;
    overflow: hidden;
    position: relative;

    span {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  }

  li:first-child {
    margin-top: $menu-height;
  }
  .closing {
    background: rgba(0, 0, 0, 0.5);
  }

  .closing-done, .opening {
    background: $ng-darker;
    border: 0;
    height: 0;
    padding: 0;
    // top: $menu-height * -2;
    font-size: $font-s-menu;

  }
  .closing-done {
    color: $ng-darker;
  }
  .opening {

  }

  .error-failure {
    color: $ng-flash-red;
  }
  .error-success {
    color: $ng-flash-green;
  }
  .error-notice {
    color: $ng-flash-yellow;
  }
}
