$site-width: 600px;
$menu-height-px: $site-width / 20px;
$menu-height: $menu-height-px * 1px;
$avatar-size: $site-width / 6;
$space-base: $site-width / 150;
$space-0: $space-base * 2;

$num-menu-items: 4;
$menu-width: $site-width / ($num-menu-items + 1);
$menu-min-height: $menu-height-px / 120 * 1in;

$space-null: 1px;
$space-2: $space-base * 2;
$space-3: $space-base * 3;
$space-4: $space-base * 4;
$space-6: $space-base * 6;
$space-8: $space-base * 8;
$space-16: $space-base * 16;
$space-20: $space-base * 20;

$font-s-base: $space-base * 4.8;
$font-s-0: $font-s-base / 1.5;
$font-s-2: $font-s-base * 1.25;
$font-s-3: $font-s-base * 2;
$font-s-4: $font-s-base * 2.8;
$font-s-menu: $menu-height * 0.4;
$font-s-menu-big: $font-s-menu * 1.25;

$modal: true;

$ng-blue: hsl(206, 85%, 30%);
$ng-highlight: hsl(30, 80%, 48%);
$ng-follow: hsl(110, 60%, 41%);
$ng-create-action: hsl(146, 85%, 30%);

$ng-white: hsl(60, 10%, 99%);
$ng-slight: hsl(300, 10%, 88%);
$ng-light: hsl(150, 10%, 70%);
$ng-middle: hsl(180, 5%, 50%);
$ng-dark: rgb(51, 51, 51);
$ng-darker: hsl(30, 10%, 12%);

$ng-flash-red: hsl(356, 60%, 40%);
$ng-flash-yellow: hsl(56, 60%, 40%);
$ng-flash-green: hsl(146, 60%, 40%);
$ng-flash-blue: hsl(206, 60%, 40%);



@import "everything";


@media
only screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
only screen and (orientation: portrait) and (min--moz-device-pixel-ratio: 2),
only screen and (orientation: portrait) and (-o-min-device-pixel-ratio: 2/1),
only screen and (orientation: portrait) and (min-device-pixel-ratio: 2),
only screen and (orientation: portrait) and (min-resolution: 192dpi),
only screen and (orientation: portrait) and (min-resolution: 2dppx) {
  $site-width: 900px;
  $menu-height-px: $site-width / 30px;
  $menu-height: $menu-height-px * 1px;
  $space-base: $site-width / 225;
  $avatar-size: $site-width / 12;
  $space-0: $space-base / 4;

  $num-menu-items: 4;
  $menu-width: $site-width / ($num-menu-items + 1);
  $menu-min-height: $menu-height-px / 120 * 1in;

  $space-null: 1px;
  $space-2: $space-base * 2;
  $space-3: $space-base * 3;
  $space-4: $space-base * 4;
  $space-6: $space-base * 6;
  $space-8: $space-base * 8;
  $space-16: $space-base * 16;
  $space-20: $space-base * 20;

  $font-s-base: $space-base * 4.8;
  $font-s-0: $font-s-base / 1.5;
  $font-s-2: $font-s-base * 1.25;
  $font-s-3: $font-s-base * 1.75;
  $font-s-4: $font-s-base * 2.8;
  $font-s-menu: $menu-height * 0.4;
  $font-s-menu-big: $font-s-menu * 1.25;

  $modal: false;

  $ng-blue: hsl(206, 85%, 30%);
  $ng-highlight: hsl(30, 80%, 48%);
  $ng-follow: hsl(110, 60%, 41%);
  $ng-create-action: hsl(146, 85%, 30%);

  $ng-white: hsl(60, 10%, 99%);
  $ng-slight: hsl(300, 10%, 88%);
  $ng-light: hsl(150, 10%, 70%);
  $ng-middle: hsl(180, 5%, 50%);
  $ng-dark: rgb(51, 51, 51);
  $ng-darker: hsl(30, 10%, 12%);

  $ng-flash-red: hsl(356, 60%, 40%);
  $ng-flash-yellow: hsl(56, 60%, 40%);
  $ng-flash-green: hsl(146, 60%, 40%);
  $ng-flash-blue: hsl(206, 60%, 40%);
  @import "everything";
}


@media
only screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2),
only screen and (orientation: landscape) and (min--moz-device-pixel-ratio: 2),
only screen and (orientation: landscape) and (-o-min-device-pixel-ratio: 2/1),
only screen and (orientation: landscape) and (min-device-pixel-ratio: 2),
only screen and (orientation: landscape) and (min-resolution: 192dpi),
only screen and (orientation: landscape) and (min-resolution: 2dppx) {
  $site-width: 500px;
  $menu-height-px: $site-width / 20px;
  $menu-height: $menu-height-px * 1px;
  $space-base: $site-width / 135;
  $avatar-size: $site-width / 6;
  $space-0: $space-base;

  $num-menu-items: 4;
  $menu-width: $site-width / ($num-menu-items + 1);
  $menu-min-height: $menu-height-px / 120 * 1in;

  $space-null: 1px;
  $space-2: $space-base * 2;
  $space-3: $space-base * 3;
  $space-4: $space-base * 4;
  $space-6: $space-base * 6;
  $space-8: $space-base * 8;
  $space-16: $space-base * 16;
  $space-20: $space-base * 20;

  $font-s-base: $space-base * 4.8;
  $font-s-0: $font-s-base / 1.5;
  $font-s-2: $font-s-base * 1.25;
  $font-s-3: $font-s-base * 2;
  $font-s-4: $font-s-base * 2.8;
  $font-s-menu: $menu-height * 0.4;
  $font-s-menu-big: $font-s-menu * 1.25;

  $modal: false;

  $ng-blue: hsl(206, 85%, 30%);
  $ng-highlight: hsl(30, 80%, 48%);
  $ng-follow: hsl(110, 60%, 41%);
  $ng-create-action: hsl(146, 85%, 30%);

  $ng-white: hsl(60, 10%, 99%);
  $ng-slight: hsl(300, 10%, 88%);
  $ng-light: hsl(150, 10%, 70%);
  $ng-middle: hsl(180, 5%, 50%);
  $ng-dark: rgb(51, 51, 51);
  $ng-darker: hsl(30, 10%, 12%);

  $ng-flash-red: hsl(356, 60%, 40%);
  $ng-flash-yellow: hsl(56, 60%, 40%);
  $ng-flash-green: hsl(146, 60%, 40%);
  $ng-flash-blue: hsl(206, 60%, 40%);
  @import "everything";
}
