 /*RESET*/

html, body, div, header, nstagram-content, nstagram-logo, tag-line, section, p, em, ul, li, input, button, a:link, a:visited, a:hover, a:active, nav, h4, nstagram-avatar, nstagram-header, nstagram-flash, nstagram-menu {
  margin: 0;
  border: 0;
  padding: 0;

  background: transparent;

  font-family: sans-serif;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  text-align: inherit;
  white-space: inherit;
}

ul {
  list-style: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

 /*GLOBAL*/

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  display: block;

}

$num-menu-items: 4;
$site-width: 1200px;
$menu-height: 50px;
$menu-width: $site-width / ($num-menu-items + 1);
$menu-min-height: 0.5in;
$ng-highlight: hsl(30, 80%, 48%);

/** CUSTOM-TAGS-FIX **/

/** BLOCK ELEMENTS **/

nstagram-content, tag-line, vert-box, users-index, nstagram-avatar, nstagram-follow-button {
  display: block;
}

nstagram-content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}

vert-box, top-box {
  position: relative;
}

.large, .medium {
  font-weight: bold;
}

nstagram-logo.large {
  font-size: $menu-height;
  line-height: 2 * $menu-height;
  display: block;
}

nstagram-logo.medium {
  font-size: $menu-height * 3 / 5;
  display: inline;
}

tag-line.large {
  font-size: $menu-height * 4 / 5;
}

.follow-button, .unfollow-button {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid hsl(116, 85%, 30%);
  color: hsl(116, 85%, 30%);
  border-radius: 3px;
  padding: 5px 20px;
  text-transform: uppercase;
}
.follow-button {
  background: hsl(116, 85%, 30%);
  color: #fff;
}
button.is-following-false {
  display: none;
}
nstagram-avatar {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  border-radius: 100%;
  background-color: #eee;
  background-size: cover;
  background-position: center;

  sub {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
.profile-picture {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
photos-index {
  nstagram-avatar {
    width: $menu-height * 2;
    height: $menu-height * 2;
  }
}

users-index {
  nstagram-avatar {
    width: $menu-height * 1.2;
    height: $menu-height * 1.2;
    float:left;
    margin: 0 10px 0 -40px;
  }
}

 /*WELCOME*/
$ng-blue: hsl(206, 85%, 30%);

 #welcome {
   height: 100%;

   .welcome {
     text-align: center;
     min-height: 200px;
   }

   header.welcome {
     background: $ng-blue;
     background: linear-gradient(45deg, hsla(120, 70%, 30%, 0.5),hsla(0, 70%, 40%, 0.5));
     color: #fff;
     height: 53.125%; /*17/16*/
     position: relative;
     box-shadow: 0 -20px 100px #000 inset;
   }
   header.welcome::before {
     content: "";
     background: linear-gradient(225deg, hsla(60, 70%, 50%, 0),hsla(240, 80%, 50%, 0.5));
    //  box-shadow: 50px 20px 200px hsla(60, 80%, 50%, 0.6) inset;
     width: 100%;
     height: 100%;
     display: block;
     top: 0;
     position: absolute;
   }

   header.welcome vert-box {
     top: 50%;
     transform: translateY(-50%);
     height: 25%;
   }

   form.hidden-form {
     display: none;
   }
   nav {
     font-size: 20px;
     position: absolute;
     width: 30%;
     bottom: 0;
     left: 0;
     right: 0;
     margin: 0 auto 5px;
     display: block;
     text-align: center;
     white-space: nowrap;
   }

   a {
    //  background: #fff;
    //  color: hsl(206, 85%, 30%);
     text-transform: uppercase;
     padding: 10px 40px 5px;
     border-radius: 5px;
     line-height: 30px;
     font-weight: bold;
   }
   a:first-child:not(.hidden-form)::after {
     content: "";
     width: 0;
     display: block;
     border: 10px solid transparent;
     border-bottom-color: #fff;
     margin: 0 auto -5px;
     position: absolute;
     bottom: 0;
     left: 30%;
   }
   a:last-child:not(.hidden-form)::after {
     content: "";
     width: 0;
     display: block;
     border: 10px solid transparent;
     border-bottom-color: #fff;
     margin: 0 auto -5px;
     position: absolute;
     bottom: 0;
     right: 30%;
   }


   section.welcome {
   }
 }

form label {
 display: none;
}
form * {
 font-size: $menu-height / 7 * 5;
 padding: 5px;
 margin: 5px 0;
 border-radius: 3px;
 border-width: 0 0 2px;
 border-color: #eee;
 border-style: solid;
}

form :valid {
 content: "✓";
 color: hsl(116, 85%, 30%);
}

 /*USERS INDEX*/

button.logout {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
  background: transparent;
  border: 0;
  color: #fff;
  padding: 20px;
  cursor: pointer;
}

button.logout:hover {
  text-shadow: 0 0 4px #fff;
}
users-index {
  li {
    border-bottom: 1px solid #ddd;
    height: 2 * $menu-height;
    width: 100%;
    padding: 0 0 0 40px;
    box-sizing: border-box;

    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active {
      width: 50%;
      height: 100%;
      padding: 30px;
      display: block;
      float: left;
      box-sizing: border-box;
    }
    h4 {
      font-size: 30px;
      clear: none;
    }
  }
  li:hover {
    background-color: hsla(206, 15%, 80%, 0.5);
  }
}
nstagram-follow-button {
  float: right;
  margin-top: $menu-height;
  margin-right: $menu-height;
  -webkit-transform: translateY(-50%) scale(1.25);
  transform: translateY(-50%) scale(1.25);
  box-sizing: border-box;
}
nstagram-profile {
  @extend .clearfix;
  width: $site-width;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;

  header {
    @extend .clearfix;
    display: block;

    a:link,
    a:visited,
    a:active {
      color: #777;
    }
    a:hover,
    a:focus {
      color: $ng-blue;
    }

    p {
      font-weight: lighter;
      margin: 5px;
      font-size: $menu-height;
    }
    small {
      font-size: $menu-height / 2;
      font-weight: normal;
    }
    em {
      text-align: left;
      color: #777;
    }
  }

  nstagram-avatar {
    float: left;
  }

}
nstagram-thumbs-index {
  p.likes {
    display: none;
  }
}
photos-index {
  background: hsl(0,0,98%);

  ul {
    width: $site-width;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  li {
    box-shadow: 0 2px 20px rgba(0,0,0,0.02);
    margin-bottom: 2 * $menu-height;
    background: #fff;
    position: relative;

    > a:link, > a:visited, > a:hover, > a:active {
      @extend .clearfix;
      display: block;
      padding: 10px;
      text-align: left;
    }

    p.post-date {
      text-align: right;
      padding: 10px 30px;
      position: absolute;
      top: 0;
      width: 100%;
      box-sizing: border-box;
      line-height: $menu-height * 2;
      color: #aaa;
    }
    p.likes {
      text-align: left;
      font-size: 24px;
      color: $ng-blue;
      a {
        font-weight: bold;

      }
    }

    nstagram-avatar {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    h4 {
      font-size: 24px;
      position: relative;
      display: inline;
      font-weight: bold;
      color: $ng-blue;
    }

    img {
      width: 100%;
      height: auto;
    }

  }
}
nstagram-thumbs-index {
  background: hsl(0,0,98%);

  ul {
    width: $site-width;
    max-width: 100%;
    margin: 0 auto;
  }

  li {
    background: #fff;
    float: left;
    padding: 2.5px 5px 0;
    margin: 0;
    width: $site-width / 3;
    max-width: 33.333%;
    box-sizing: border-box;
  }
}

nstagram-content {
  margin-top: $menu-height;
  padding-bottom: 2 * $menu-height;
  box-sizing: border-box;
}
nstagram-menu {
  display: block;
  clear: both;
  position: fixed;
  width: 100%;
  height: $menu-height;
  min-height: $menu-min-height;
  bottom: -1px;
  background: #333;
  z-index: 100;

  ul {
    text-align: center;
    width: $site-width;
    max-width: 100%;
    margin: 0 auto;
  }

  li:first-child {
    border-left: 1px solid rgba(0,0,0,0.2);
  }

  li {
    border-right: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    color: #fff;
    box-sizing: border-box;
    line-height: $menu-height;
    min-height: $menu-min-height;

    a {
      display: inline-block;
      height: $menu-height;
      min-height: $menu-min-height;
      padding: 0 100px;
      min-width: $menu-width;
    }

    a.upload-link {
      background: $ng-blue;
    }
  }

  .selected {
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4));
    box-shadow: 0 10px 0 $ng-highlight inset;
  }
}
nstagram-flash {
  display: block;
  height: auto;
  width: 0;
}
nstagram-header {
  display: block;
  width: 100%;
  height: $menu-height;
  min-height: $menu-min-height;
  background: $ng-blue;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  top: 0;
  position: fixed;
  z-index: 100;

}

nstagram-header.hide-bar,
nstagram-menu.hide-bar {
  height: 0;
  padding: 0;
  overflow: hidden;
}

nstagram-menu.hide-bar {
  bottom: -($menu-height + 10);
}

nstagram-header.hide-bar {
  top: -($menu-height + 10);
}
nstagram-content.hide-bar {
  margin-top: 0;
  padding-bottom: 0;
}
.photo-like {
  position: absolute;
  z-index: 10;
  bottom: 50%;
  font-size: 200px;
  width: 100%;
  transform: translateY(50%);
}
nsta-photo {
  @extend .clearfix;
  display: block;
  position: relative;
}

nstagram-flash {
  display: block;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25);

  li {
    white-space: nowrap;
    text-align: center;
    width: 100%;
    background: rgba(48, 48, 48, 0.9);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    letter-spacing: 2px;
    text-transform: lowercase;

    span {
      transform: scale(0.5);
    }
  }

  .error-failure {
    color: red;
  }
  .error-success {
    color: green;
  }
  .error-notice {
    color: yellow;
  }
}
