<label for="session_username">username</label><br>
<input type="text" name="session[username]" id="session_username" placeholder="username">

<label for="session_password">password</label><br>
<input type="password" name="session[password]" id="session_password" placeholder="password">

<button>Log In</button>
