<label for="session_username">username</label>
<input type="text" name="session[username]" id="session_username" placeholder="username" required autocapitalize="none" autocomplete="on">
<br>

<label for="session_password">password</label>
<input type="password" name="session[password]" id="session_password" placeholder="password" required autocomplete="current-password" pattern="\S{8,}">
<br>

<button value="Log In" data-disable-with="Logging in…" disabled>Log In</button>
