<header class="welcome">
  <vert-box>
    <nstagram-logo class="large">nstagram</nstagram-logo>
    <tag-line><em>An Instagram clone</em></tag-line>
  </vert-box>
  <nav>
    <a href="#new" class="signup-link">Sign Up</a>
    <a href="#login" class="login-link">Log In</a>
  </nav>
</header>
<section class="welcome">
  <form class="guest-form">
    <button class="guest-button"
      value="Log in as Guest"
      data-disable-with="Making a guest account…">
      Guest User
    </button>
  </form>
  <a href="/auth/twitter"
    class="twitter-button"
    value="Log in with Twitter"
    data-disable-with="Checking with Twitter…"
    target="_blank">
    Log in with Twitter
  </a>
</section>
