<header class="welcome">
  <vert-box>
    <nstagram-logo class="large">nstagram</nstagram-logo>
    <tag-line><em>An Instagram clone</em></tag-line>
    <nav>
      <a href="#new" class="signup-link">Sign Up</a>
      <a href="#login" class="login-link">Log In</a>
    </nav>
  </vert-box>
</header>
<section class="welcome">

</section>
